@media print
{
	body
	{
		color: black;
		background-color: white;

	}
	#menu
	{
		display: none;
	}
	#content
	{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	h1,h2,h3
	{
		color: black;
	}
	table
	{
		border: 5px solid black;
	}
	img
	{
		filter: grayscale(100%);
	}
}